/*
 Single product page
*/
.name {
  background: rgba(14, 8, 8, 0.836);
  color: rgba(255, 255, 255, 0.911);
  font-weight: bold;
}
/* .card {
  min-height: 450px;
} */

.cart-badge,
.cart-badge:hover {
  border-radius: 45%;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  color: black;
  background: white;
}

.thumbnail:hover {
  background-color: red;
  opacity: 0.5;
}
.card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}
.card:hover {
  box-shadow: 3px 3px 5px rgb(216, 208, 208);
  /* transform: scale(1.1); */
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background: linear-gradient(-45deg, #000000, #3613b4, #d5d223, #03cce6);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.btn,
.jumbotron,
.nav:hover {
  border-radius: 0px;
}

.jumbotron h2 {
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
}

.product-img {
  min-height: 100px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
